@model Bbsm_Garage_Son.Entity.CardEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkaModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkaModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GirisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GirisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notlar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
